<div>
<div class="row">
<div class="col-md-9 col-sm-9 col-xs-9 col-lg-9">
<h1>About DB Onyx</h1>
<p>DBOnyx is a relatively new website with the goal of eventually providing a one stop resource for gamers. Starting with World of Warcraft we hope to build a site that provides the information, community, and tools that gemers want.</p>
<p>The site started out as an idea to provide World of Warcraft quest completion statistics for players trying to get the Loremaster acheivement. Over time the focus broadened to include Auction House listings and statistics.</p>
<p>What you see now is the third iteration of the original idea. Each iteration has increased the capabilities of the site and the underlying database. Currently we are processing all auctions from the US World of Warcraft servers, roughly 2.5-4 million auctions per hour</p>
</div>
<sidebar>

</sidebar>
</div>
</div>