<div ng-controller='AuctionCtrl'>

	<div class="row" id="content-column-wrapper">
		<div id="main-content">
		<h1>Auction House</h1>
		<div id="realmDiv" class="row">
			<form action="" id="filterForm"  autocomplete="off">
				<div class="col-md-4 col-xs-12">
				<label for="realmInput">Select Realm:</label>
				<auto-complete realm-input="realmInput" search="search()"></auto-complete>
				</div>
				<div class="col-md-4 col-xs-12">
				<label for="search">Search Term:</label>
				<input type="text" id="search" class="itemFilter form-control" ng-model="searchTerm">
				</div>
				<div class="col-md-4 col-xs-12">
				<label for="searchButton">&nbsp;</label>
				<button id="searchButton" ng-click="search($event)" class="btn form-control">Search</button>
				</div>
			</form>
		</div>
		<div id="auctionData">
		<div id="auctionIntro" ng-if="!auctionResults&&!loading">Select a realm to get started</div>
		</div>
		<div ng-if="auctionResults.auctions.length">
			<div id="auctionNav" ng-if="auctionResults">
				<div class="auctionText">
					<div class="pull-left" id="auctionLoading" ng-if="loading">
						<h4><i class="fa fa-cog fa-spin fa-lg fa-fw margin-bottom"></i> Loading Auctions...</h4>
					</div>
					<div class="pull-left" ng-if="auctionResults&&!auctionResults.auctions.length&&!loading">
						<h1>No auctions match your search</h1>
					</div>
					<p class="pull-right">Showing auctions {{low+1}}-{{high}} of {{auctionResults.count}}</p>
				</div>
				<div class="clearfix"></div>
				<div>
					<div class="pagination" ng-click="firstPage()">
						<i class="fa fw fa-lg fa-angle-double-left"></i>
					</div>
					<div class="pagination" ng-click="backPage()">
						<i class="fa fw fa-lg fa-angle-left"></i>
					</div>
					<div class="pagination" ng-repeat="page in backPages track by $index" ng-click="updatePage(page)"> {{page}} </div>
					<div class="pagination pagination-current"> {{currentPage}} </div>
					<div class="pagination" ng-repeat="page in nextPages" ng-click="updatePage(page)"> {{page}} </div>
					<div class="pagination" ng-click="nextPage()">
						<i class="fa fw fa-lg fa-angle-right"></i>
					</div>
					<div class="pagination" ng-click="lastPage()">
						<i class="fa fw fa-lg fa-angle-double-right"></i>
					</div>
				</div>
			</div>
			<div class="auctionResultTable table table-condensed">
				<div class="row auctionResultRow">
					<!-- <div class="auctionSort" data-sort="quantity">Quantity</div> -->
					<div class="col-xs-1 auctionIcons"></div>
					<div class="col-xs-6 auctionSort text-left" data-sort="name"><h4>Item</h4></div>
					<!-- <div class="col-xs-1 auctionSort text-center" data-sort="itemLevel"><h4>iLvl</h4></div> -->
					<!-- <div class="auctionSort">Owner</div> -->
					<div class="col-xs-2 auctionSort auctionMoney text-right" data-sort="bid" ng-click="setSortBy('bid')"><h4>Bid Price<i class="fa fa-fw fa-sort" aria-hidden="true"></i></h4></div>
					<div class="col-xs-2 auctionSort auctionMoney text-right" data-sort="buyout" ng-click="setSortBy('buyout')"><h4>Buyout<i class="fa fa-fw fa-sort" aria-hidden="true"></i></h4></div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<hr>
					</div>
				</div>
				<auction-result ng-repeat="auction in auctionResults.auctions"></auction-result>
			</div>
		</div>
		</div>
		<sidebar>
		<div id="itemFilterDiv">
			<h1>Filter By Quality</h1>
			<oi-select placeholder="ex. Poor, Uncommon" ng-model="qualities.values" oi-options="quality.id as quality.name for quality in itemQualities track by quality.id" multiple multiple-placeholder="Add more.." ng-change="firstPage()"></oi-select>
			<h1>Additional Filters</h1>
			<ul id="itemFiltersList" class="list-unstyled">
				<li ng-repeat="filter in filters track by $index">
					<button class="btn-danger" ng-click="removeFilter($index)">X</button>
					<select ng-model="filter.type" class="form-control">
						<option ng-repeat="option in validFilters" value="{{option}}">{{option}}</option>
					</select>
					<select ng-model="filter.comparator" class="form-control">
						<option>&gt;</option>
						<option>=</option>
						<option>&lt;</option>
					</select>
					<input type="number" ng-model="filter.value" class="form-control">
				</li>
			</ul>
			<button id="addItemFilter" class="btn" ng-click="addFilter()">Add Item Filter</button>
		</div>
		</sidebar>
	</div>
</div>