<div ng-controller="characterMain">
<div class="row" id="content-column-wrapper">
<div id="main-content">
<div class="row" ng-if="!character.loading">
<h1>{{character.name}}</h1>
<h3>&lt;{{character.guildName}}&gt;</h3>
<h5>Level {{character.level}}</h5>
</div>
PvP Placeholder
</div>
<sidebar>
<ul>
<li><a href="/character/main">Profile</a></li>
<li><a href="/character/reputation">Reputation</a></li>
<li><a href="/character/achievements">Achievements</a></li>
<li><a href="/character/mounts">Mounts</a></li>
<li><a href="/character/battlepets">Battlepets</a></li>
<li><a href="/character/professions">Professions</a></li>
<li><a href="/character/pvp">PvP</a></li>
</ul>
</sidebar>
</div>
</div>