Character Tools
<div ng-controller="characterCtrl">
Placeholder for future character tools. Eventually you'll be able to:
<ul>
<li>See a listing of equipped gear, with an optional equipment audit.</li>
<li>View achievements with options to show/hide achievements based on various criteria.</li>
<li>View a list of all completed/uncompleted quests, including quests needed for specific Loremaster requirements</li>
<li>View all collected pets, including battlepet stats.</li>
<li>View all collected/uncollected mounts, including detailed source information.</li>
</ul>
</div>