<div class="row" id="content-column-wrapper">
	<div id="main-content">
		<h1>Community Resources</h1>
		<h3>Hey, we're so glad you're here!</h3>
		<p>Unfortunately, we don't have much in the way of community resources yet. BUT, here's a list of what we're working on, and what you can expect to see soon.</p>
		<ul>
			<li><b><a href="/forums">Forums:</a></b> What better way for users to communicate with each other? Ask questions, find answers, share war stories.</li>
			<li><b>Comments</b> for items and other database entries: Let others know those details that are easy to miss.</li>
			<li><b>User Profiles:</b> Show off your characters, show off your achievements, show off your battlepets.</li>
		</ul>
		<p>We have so many more ideas that we want to work on too, but these are the focuses right now. Let us know what you think. Don't forget to leave feedback!</p>
	</div>
</div>