<div class="row" id="content-column-wrapper">
<div id="main-content">
<h1>Privacy Policy</h1>
<p>In order to conduct business and provide users with the best possible experience, DBOnyx collects and uses information provided by you and your browser. This policy is here to give you a better understanding of what information we collect and how it is used.</p>
<h3>Information We Collect</h3>
<p>When you register for an account on this website, we ask for a username, email and password.</p>
<p><b>Password:</b> Your password is encrypted in such a way that it is not readable even to someone with direct access to the database.</p>
<p><b>Email:</b> Email addresses are kept private between users and the site. We do not sell/rent/give/otherwise disclose email addresses unless required by law.</p>
<p><b>Usernames:</b> Usernames are a user's public identity on this site. Any comments, posts, or other community activity will be attached to the username of a profile.</p>
</div>
<sidebar>

</sidebar>
</div>