<div ng-if="!user.loggedin">
You are not logged in.
</div>
<div ng-if="user.loggedin">
<h1>{{user.username}} <small>Private Profile</small></h1>
<h3>Your Characters</h3>
<div ng-controller="watchlistCtrl">
<h3>Watchlists</h3>
<ul>
<li>Item Quantity Realm Price Settings - Pause Edit Delete</li>
<li>Item Quantity Realm Price Settings - Restart Edit Delete</li>
</ul>
<h3>Forum Posts</h3>
<div ng-repeat="post in forumPosts"><a href="/forums/thread/{{post.thread._id}}">{{post.thread.name}}</a></div>
{{error}}
</div>
</div>