<div ng-controller='userCtrl'>
	<form class="form-group" ng-submit="register()" id="register" ng-controller="userCtrl">
		<input class="form-control" ng-model="username" type="text" name="username" id="username" placeholder="Username"><br>
		<input class="form-control" ng-model="email" type="text" name="email" id="email" placeholder="Email"><br>
		<input class="form-control" type="password" name="password1" id="password1" placeholder="Password" ng-model="password1"><br>
		<input class="form-control" type="password" name="password2" id="password2" placeholder="Re-enter Password" ng-model="password2"><br>
		<input type="submit" value="Create Account">
	</form>
</div>