<div class="auctionResultRow">
<!-- <div class="auctionResultCell center">{{auction.quantity}}</div> -->
<div class="auctionResultCell">
<span class="glyphicon glyphicon-stats historyGraph"></span>
<span class="glyphicon glyphicon-eye-open watchAuction" ng-click="showWatchlist=!showWatchlist"></span>
<watchlist-form ng-show="showWatchlist" show-watchlist="showWatchlist" item="auction.item" price="{{auction.buyout}}" realm-input="realmInput"></watchlist-form>
</div>
<div class="auctionResultCell">
<a href="/item/{{auction.item.itemId}}" class="itemLink itemQuality{{auction.item.quality}}"><img src="/images/icons/{{auction.item.icon}}.png" class="icon">{{auction.item.name}}</a>
</div>
<div class="auctionResultCell center">{{auction.item.itemLevel}}</div>
<!-- <div class="auctionResultCell">{{auction.owner}}</div> -->
<div class="auctionResultCell right"><money amount="auction.bid"></div>
<div class="auctionResultCell right"><money amount="auction.buyout"></money></div></div>