<div class="autocomplete-group">
	<input type="text" class="span2 form-control" id="realmInput" ng-focus="blurIn('realmInputSelected')" ng-blur="blurOut('realmInputSelected')" ng-model="realmInput" autocomplete="off" placeholder="Select a realm..." select-on-focus>
	<span class="caret input-caret"></span>

	<div class="autocomplete-dropdown" ng-if="realmInputSelected===true">
		<div class="autocomplete-row" ng-repeat="realm in realms | filter:realmInput" ng-mousedown="selectRealm(realm)" ng-mouseenter="hover(realm)" ng-mouseleave="hover(-1)" ng-class="{'autocomplete-row-selected':realm==hoverIndex}">{{realm}}</div>
	</div>
</div>