<div class="row" id="footer-container">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-sm-3">
        Database
      </div>
      <div class="col-sm-3">
        Character Tools
      </div>
      <div class="col-sm-3">
        Guild Portal
      </div>
      <div class="col-sm-3">
        Forum
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        Auction House
      </div>
      <div class="col-sm-3">
        Game Guides
      </div>
      <div class="col-sm-3">
        Community
      </div>
      <div class="col-sm-3">
        Social
      </div>
    </div>
    <div class="row">
      <div class="footer text-center">
      <!-- FOOTER INFO -->
      Copyright, About, Privacy Policy
      </div>
    </div>
  </div>
</div>