<div>
<div ng-if="!loading">
<img src="/images/icons/{{item.icon}}.png" class="icon">
<ul class="item">
<li class="itemTitle itemQuality{{item.quality}}">{{item.name}}</li>
<li class="itemLevel">Item Level: {{item.itemLevel}}</li>
<li ng-if="item.itemBind">{{item.itemBind}}</li>
<li ng-if="item.equippable">{{item.inventoryType}}</li>
<li ng-if="item.armor">{{item.armor}} Armor</li>
<li ng-if="item.weaponInfo.weaponSpeed" class="float-right">Speed {{item.weaponInfo.weaponSpeed}}</li>
<li ng-if="item.weaponInfo">{{item.weaponInfo.damage.min}} - {{item.weaponInfo.damage.max}} Damage</li>
<li ng-if="item.weaponInfo">({{item.weaponInfo.dps}} Damage Per Second)</li>
<li class="{{stat.class}}" ng-repeat="stat in item.stats track by $index">{{stat.name}}: {{stat.amount}}</li>
<li ng-if="item.maxDurability">Durability: {{item.maxDurability}}/{{item.maxDurability}}</li>

<li ng-if="item.requiredLevel">Requires Level {{item.requiredLevel}}</li>
<li>Sells For: <money amount="item.sellPrice"></money></li>
</ul>
{{item}}
</div>
</div>