<div>
	<div class="pagination" ng-click="firstPage()">
		<i class="fa fw fa-lg fa-angle-double-left"></i>
	</div>
	<div class="pagination" ng-click="backPage()">
		<i class="fa fw fa-lg fa-angle-left"></i>
	</div>
	<div class="pagination" ng-repeat="page in backPages track by $index" ng-click="setPage(page)"> {{page}} </div>
	<div class="pagination pagination-current"> {{currentPage}} </div>
	<div class="pagination" ng-repeat="page in nextPages" ng-click="setPage(page)"> {{page}} </div>
	<div class="pagination" ng-click="nextPage()">
		<i class="fa fw fa-lg fa-angle-right"></i>
	</div>
	<div class="pagination" ng-click="lastPage()">
		<i class="fa fw fa-lg fa-angle-double-right"></i>
	</div>
	<p>Showing {{term}} {{low+1}}-{{high}} of {{total}}</p>
</div>