<div ng-show="" class="container registerForm">
	<form ng-submit="register()">
		<div class="form-group row">
			<div class="col-xs-6"><label for="username">Username: </label></div>
			<div class="col-xs-6"><input id="username" ng-model="username" placeholder="username"></div>
		</div>
		<div class="form-group row">
			<div class="col-xs-6"><label for="email">Email: </label></div>
			<div class="col-xs-6"><input id="email" ng-model="email" placeholder="email"></div>
		</div>
		<div class="form-group row">
			<div class="col-xs-6"><label for="password1">Password: </label></div>
			<div class="col-xs-6"><input id="password1" type="password" ng-model="password1" placeholder="password"></div>
		</div>
		<div class="form-group row">
			<div class="col-xs-6"><label for="password2">Re-enter Password: </label></div>
			<div class="col-xs-6"><input id="password2" type="password" ng-model="password2" placeholder="re-enter password"></div>
		</div>
		<div class="form-group row center">
			<input type="submit" value="Register">
		</div>
	</form>
</div>