<div class="watchlistForm">
<span class="close" ng-click="showWatchlist=!showWatchlist">(close)</span>
<form>
	<div class="row"><item-link item="item"></item-link></div>

	<div class="row">Realm: <auto-complete></auto-complete></div>
	<div class="row">Min: <input size="3" ng-model="minQuantity" select-on-focus>
	Max: <input size="3" ng-model="maxQuantity" select-on-focus></div>
	<div class="row">Max buyout: <input size="6" ng-model="gold" select-on-focus>g <input size="2" ng-model="silver" select-on-focus>s <input size="2" ng-model="copper" select-on-focus>c</div>
	<div class="row" ng-if="user.loggedin"><input type="submit" value="Add" ng-click="submit()"></div>
	<div class="row warning" ng-if="!user.loggedin">You must be logged in to add a watchlist.</div>
</form>
</div>