/* Sitewide style colors */
$mainBackgroundColor: #9B9B9B;
$darkBackgroundColor: #4A4A4A;
$lightBackgroundColor: #D8D8D8;
$advertBackgroundColor: #CCCCCC;
$accentColor: #FF8000;

/* Sitewide font colors */
$bodyTextColor: #FFFFFF;
$menuBarHeight: 64px;
$linkColor: green;
$hoverColor: pink;

/* Mixins */

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}

@mixin transition-duration($duration...) {
    -moz-transition-property:    $duration;
    -o-transition-property:      $duration;
    -webkit-transition-property: $duration;
    transition-property:         $duration;
}

@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}

@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}

@mixin align-middle($height) {
  line-height: $height;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  height: $height;
}

@mixin input-fields(){
  padding: 1px 8px;
  border-radius: 1px;
  height: 32px;
  border: 0;
  color: $darkBackgroundColor;
  background-color: $lightBackgroundColor;
}

@mixin menu-font(){
  font-size: 14px;
  font-weight: 700;
  font-family: 'Roboto';
  text-transform: uppercase;
  color: $darkBackgroundColor;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.1);
}

.btn {
  font-family: 'Roboto';
  font-weight: 700;
  color: white !important;
  font-size: 14px;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.25);
  border-radius: 100px;
}

/* MAIN PAGE ELEMENTS */
body { 
  background-color: $mainBackgroundColor;
  color: $bodyTextColor;
  font-family: 'Merriweather Sans', 'Maven Pro';
  font-weight: 300;
  font-size: 12px;
} 

hr {
    border: 0;
    height: 0;
    margin-top: 3px;
    margin-bottom: 3px;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

a {
  color: $linkColor;
}

a:hover {
  color: $hoverColor;
  border-bottom: double 1px;
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
    box-shadow: none;
}

input:focus {   
  box-shadow: none;
  outline: none;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.25);
}

.btn {
  border: 0;
}

/* TOP BAR */
#brand-nav {
  height: $menuBarHeight;
  min-height: $menuBarHeight;
  line-height: $menuBarHeight;
  vertical-align: middle;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.50);
  border: 0;
  border-radius: 0;
  padding: 0px 15px;
  margin-bottom: 0;
}

#brand-nav .btn {
  border: solid 1px orange;
  background-color: orange;
  margin-top: -2px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-brand {
  font-family: 'Aldrich';
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  @include align-middle($menuBarHeight);
  /* Inset shadows are visible under slightly transparent text color */
  color: rgba(74,74,74, 0.25) !important;
  text-shadow: 1px 4px 6px $darkBackgroundColor, 0 0 0 #000, 1px 4px 6px $darkBackgroundColor;
}

.navbar-nav li a {
  @include align-middle($menuBarHeight);
  @include transition(color .25s);
  padding: 0px 15px;
  color: $mainBackgroundColor !important;
  font-weight: normal !important;
  font-size: 12px;
}

.navbar-nav li a:hover {
  color: $lightBackgroundColor !important;
}

#user-login {
  margin-right: 15px;
}

#user-login input {
  height: 32px;
  line-height: 32px;
  color: gray;
  border: 0;
  @include input-fields;
}

#user-login, #register-button {
  display: inline-block;
}

/* REGISTER FORM */
.registerForm{
  padding: 15px;
  padding-right: 30px;
  z-index: 1;
  background-color: $darkBackgroundColor;
}

.registerForm form {
  float: right;
}

.registerForm form input {
  @include input-fields();
}

/* MAIN NAVIGATION */
#nav-container {
  background-color: #050505;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 85%, rgba(241,241,241,1) 85%, rgba(225,225,225,1) 86%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 85%,rgba(241,241,241,1) 85%,rgba(225,225,225,1) 86%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 85%,rgba(241,241,241,1) 85%,rgba(225,225,225,1) 86%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
  margin-bottom: 15px;
  border-radius: 3px;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.1);
}

#primary-nav ul.nav.nav-tabs.navbar-left {
  border-bottom: 0px;
}

#primary-nav {
  padding: 0px 16px;
}

#primary-nav ul li {
  border: 0;
  padding: 0;
  border: 0;
  height: $menuBarHeight;
}

#primary-nav ul li:hover {
  background-color: green;
}

#primary-nav ul li a { /* Menu list items */
  @include align-middle($menuBarHeight);
  @include menu-font();
  margin: 0px 16px;
  border: 0;
}

#primary-nav ul li a:hover, #primary-nav ul li a:focus {
  background-color: transparent;
  border: 0;
}

form.navbar-form {
  @include align-middle($menuBarHeight);
  padding: 0;
  margin: 0;
}

form.navbar-form input {
  width: 200px !important;
}
#secondary-nav { /* Submenu */
  background-color: #777;
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 1;
}

/* CONTENT DIVS */

#main-content {
  background-color: $lightBackgroundColor;
}

#sub-content {
  background-color: $mainBackgroundColor;
}

/* ADVERTISEMENTS */

#leaderboard {
  width: 728px;
  height: 90px;
  margin: 30px auto;
  background-color: $advertBackgroundColor;
}

#skyscraper {
  width: 160px;
  height: 600px;
  margin: 10px auto;
  background-color: $advertBackgroundColor;
}

/* FOOTER */

#footer-container {
  background-color: $darkBackgroundColor;
}