.registerForm {
	height: 300px;
	background: $darkBackgroundColor;
	-webkit-transition: all linear .25s;
	transition: all linear .25s;
	padding-top: 15px;
	// -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
	// -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
	// box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
	background-size: 132px 132px;
	background-blend-mode: multiply;
}

.registerForm.ng-hide {
	height: 0px;
	opacity: 0;
}

.registerForm.ng-hide.ng-hide-active{
	opacity: 1;
}