/* wow class text colors */
$deathknight-class: #C41F3B;
$demonhunter-class: #A330C9;
$druid-class: #FF7D0A;
$hunter-class: #ABD473;
$mage-class: #69CCF0;
$monk-class: #00FF96;
$paladin-class: #F58CBA;
$priest-class: #FFFFFF;
$rogue-class: #FFF569;
$shaman-class: #0070DE;
$warlock-class: #9482C9;
$warrior-class: #C79C6E;
/* wow reputation bar colors */
$reputation0: #c22;
$reputation1: #f00;
$reputation2: #e62;
$reputation3: #ff0;
$reputation4: #0f0;
$reputation5: #0f8;
$reputation6: #0fc;
$reputation7: #0ff;
/* wow item/pet quality colors */
$quality0: #9D9D9D;
$quality1: #FFFFFF;
$quality2: #1EFF00;
$quality3: #0070FF;
$quality4: #A335EE;
$quality5: #FF8000;
$quality6: #E6CC80;
$quality7: #E6CC80;

.container {
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%; } 
  .navbar {
  text-align: right;
  background-color: $darkBackgroundColor; }
  .navbar .navbar-nav {
    display: inline-block;
    vertical-align: top; }
    .navbar .navbar-nav li {
      font-weight: bold; }
.nav > li {
  display: inline-block;
}

#searchBarResults{
  width: 200px;
  top: 100%;
  position:absolute;
  z-index: 1;
  background-color: #7A7575;
  padding: 2px;
}
.money {
  display:inline-block;
}
.gold{
  border:5px solid #ff3;
  border-radius:5px;
  display:inline-block;
}
.silver{
  border:5px solid #fff;
  border-radius:5px;
  display:inline-block;
}
.copper{
  border:5px solid #dd5b00;
  border-radius:5px;
  display:inline-block;
}
.gold, .silver, .copper {
  margin-left: 2px;
}
.icon {
  width: 32px;
  height: 32px; }
.itemIcon{
  border-width: 2px;
  border-radius: 6px;
  border-style: solid;
}

.itemLink {
  display: inline-block;
  /*font-family: 'Aldrich';*/
  font-size: 1.2em;
  font-weight: bold; 
  a, a:visited, a:active, a:hover{
    text-decoration:none;
  }
}
.itemHover {
  z-index: 100;
  position: absolute;
}
.itemQuantity{
  font-family: 'Arial';
  background-color: black;
  color:white;
  font-size:0.5em;
  padding:0 1px;
  line-height: initial;
  position: absolute;
  right: 3px;
  bottom: 7px;
}
.itemLinkImage{
  position:relative;
  display:inline-block;
}

.itemQuality0, a.itemQuality0 {
  color: #9D9D9D; }

.itemQuality1, a.itemQuality1 {
  color: #FFFFFF; }

.itemQuality2, a.itemQuality2 {
  color: #1EFF00; }

.itemQuality3, a.itemQuality3 {
  color: #0070FF; }

.itemQuality4, a.itemQuality4 {
  color: #A335EE; }

.itemQuality5, a.itemQuality5 {
  color: #FF8000; }

.itemQuality6, a.itemQuality6 {
  color: #E6CC80; }

.itemQuality7, a.itemQuality7 {
  color: #E6CC80; }

.borderQuality0{
  border-color: #9D9D9D; }

.borderQuality1{
  border-color: #FFFFFF; }

.borderQuality2{
  border-color: #1EFF00; }

.borderQuality3{
  border-color: #0070FF; }

.borderQuality4{
  border-color: #A335EE; }

.borderQuality5{
  border-color: #FF8000; }

.borderQuality6{
  border-color: #E6CC80; }

.borderQuality7{
  border-color: #E6CC80; }

#itemFilterQuality {
  background-color: #000; }
  #itemFilterQuality option[selected] {
    color: red; }
// .auctionResultRow{
// 	display:table-row;
// }
// .auctionResultCell{
// 	display:table-cell;
//   padding:0 6px;
// }
// .auctionResultTable{
// 	display:table;
// }
// .auctionSort{
// 	display:table-cell;
//  border-bottom:1px solid black;
// 	font-weight:bold;
// 	font-size:1.2em;
// 	text-align:center;
// }
// #auctionItem{
//   width:100%;
// }
// .auctionMoney{
//   min-width: 135px;
// }
// .auctionIcons{
//   min-width: 70px;
// }
.historyGraph, .watchAuction {
  color: $darkTextColor !important;
  margin: 0 3px;
  cursor: pointer;
  font-size: 1.5em;
  float: left; }

.historyGraph:hover, .watchAuction:hover {
  color: $lightTextColor !important;
}

#auctionLoading{
  text-align: center;
}
#auctionSearchRow {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 20px; }
#auctionIntro {
  font-size: 2em;
  text-align: center; }
#auctionNav{
  text-align:right;
}
.watchlistForm, .auctionHistory{
  background-color: #858585;
  position:absolute;
  z-index:1;
  padding:10px 30px;
  min-width: 450px;
}
.auctionHistory{
  width: 540px;
}
.auctionHistoryBar{
  fill:white;
}
.auctionHistoryBarSelected{
  fill:#ddd;
}
.input-caret{
  position:absolute;
  top:12px;
  right:6px;
}
.autocomplete-group{
	display:inline-block;
  position: relative;
}
.autocomplete-dropdown{
	position:absolute;
	max-height:160px;
	overflow-y:scroll;
	z-index:1;
}
.autocomplete-row{
	position:relative;
	cursor:pointer;
	width:185px;
	background-color:black;
	color:white;
}
.autocomplete-row-selected{
	background-color: white;
	color:black;
}
.pagination{
  @include button-styles();
  display:inline-block;
  border-radius: 2px;
  min-width: 16px;
  text-align: center;
  padding: 6px;
  margin: 0 1px;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
}
.pagination:active {
  position: relative;
  top: 1px;
}
.pagination-current{
  font-weight: 900;
  border: solid 1px black !important;
}
.item {
  position: absolute;
  color: white;
  padding: 10px;
  display: inline-block;
  border: 1px solid #565940;
  border-radius: 8px;
  background: #444444;
  font-size: .8em;
  min-width: 200px;
  max-width: 300px; }
  .item li {
    list-style-type: none; }
.itemTitle {
  font-size: 1.5em; }
.itemUnusedProperty {
  color: grey;
}
.itemPrimaryProperty, .white{
  color: white; }
.itemSecondaryProperty, .itemSpell {
  color: #1EFF00; }
.itemEmptySocket{
  color: grey;
}
.itemSetName{
  color: gold;
}
.itemLevel {
  color: gold; }
.itemActiveItemSet, .itemActiveItemSet a{
  color: #1EFF00; 
}
.itemInactiveItemSet, .itemInactiveItemSet a{
  color: grey;
}
#characterProfileDiv{
  position:relative;
}
.reputationBarBack{
  position:absolute;
  float:left;
  border-radius:5px;
  border:1px solid #00010D;
  padding:1px;
}
.reputationBarText{
  margin: 2px 5px;
  position:absolute;
  width:100%;
  font-weight: bold;
}
.reputation0{
  background-color:#c22;
}
.reputation1{
  background-color:#f00;
}
.reputation2{
  background-color:#e62;
}
.reputation3{
  background-color:#ff0;
}
.reputation4{
  background-color:#0f0;
}
.reputation5{
  background-color:#0f8;
}
.reputation6{
  background-color:#0fc;
}
.reputation7{
  background-color:#0ff;
}

.profileItemDiv{
  position:absolute;
}

.profileItemImg{
  width:48px;
  height:48px;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
}

.profileItemhead{
  left:40px;
  top:10px;
}
.profileItemneck{
  left:40px;
  top:70px;
}
.profileItemshoulder{
  left:40px;
  top:130px;
}
.profileItemback{
  left:40px;
  top:190px;
}
.profileItemchest{
  left:40px;
  top:250px;
}
.profileItemshirt{
  left:40px;
  top:310px;
}
.profileItemtabard{
  left:40px;
  top:370px;
}
.profileItemwrist{
  left:40px;
  top:430px;
}
.profileItemhands{
  left:100px;
  top:10px;
}
.profileItemwaist{
  left:100px;
  top:70px;
}
.profileItemlegs{
  left:100px;
  top:130px;
}
.profileItemfeet{
  left:100px;
  top:190px;
}
.profileItemfinger1{
  left:100px;
  top:250px;
}
.profileItemfinger2{
  left:100px;
  top:310px;
}
.profileItemtrinket1{
  left:100px;
  top:370px;
}
.profileItemtrinket2{
  left:100px;
  top:430px;
}
.profileItemmainHand{
  left:40px;
  top:490px;
}
.profileItemoffHand{
  left:100px;
  top:490px;
}
.warning, .success {
  margin: 6px;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  border-radius: 12px;
  padding: 6px 12px;
  background-color: rgba(0,0,0,.1)
}
.warning{
  color: red;
}
.success{
  color:green;
}
.float-right{
  float:right;
}
#realmInput{
  display:inline-block; 
}
/*Forum Styling*/
.forumPostAuthor{
  vertical-align: top;
}
.forumPostOptions{
}
.forumPostOption{
  float:right;
  margin: 0 10px;
}
.forumPostTopBar{
  background-color: $darkBackgroundColor;
}
.forumPostTimestamp{
  float:left;
  margin: 0 10px;
}
.forumPostId{
  float:right;
  font-size:2em;
  margin: 0 10px;
}
.forumPostContent{
  margin: 10px 0;
}
.forumPostEditCount{
  font-size: 0.8em;
}
.frontPageForumLinks{
  background-color: $lightBackgroundColor;
  text-align: center;
  padding:5px 0;
  border-radius: 4px;
}
.mount-display{
  text-align:center;
}
.mount-icon{
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
}
.characterClass1 { /* Warrior */
  color: $warrior-class;
}
.characterClass2 {
  color: $paladin-class;
}
.characterClass3 {
  color: $hunter-class;
}
.characterClass4 {
  color: $rogue-class;
}
.characterClass5 {
  color: $priest-class;
}
.characterClass6 {
  color: $deathknight-class;
}
.characterClass7 {
  color: $shaman-class;
}
.characterClass8 {
  color: $mage-class;
}
.characterClass9 {
  color: $warlock-class;
}
.characterClass10 {
  color: $monk-class;
}
.characterClass11 {
  color: $druid-class;
}
.characterClass12 {
  color: $demonhunter-class;
}
.highlight-hover:hover {
  background-color: $lightBackgroundColor;
}