<div ng-controller='AuctionCtrl'>

	<div class="row">
		<div class="col-md-9" id="main-content">
		<h1>Auction House</h1>
		<div id="realmDiv">
				<form action="" id="filterForm"  autocomplete="off">
					<label for="realmInput">Select Realm:</label>
					<auto-complete realm-input="realmInput" search="search()"></auto-complete>
					<label for="search">Search Term:</label>
					<input type="text" id="search" class="itemFilter form-control" ng-model="searchTerm">
					<button id="searchButton" ng-click="search($event)" class="btn">Search</button>
				</form>
			</div>
		<div id="auctionData">
		<div id="auctionIntro" ng-if="!auctionResults&&!loading">Select a realm to get started</div>
		</div>
		<div id="auctionLoading" ng-if="loading">
			<h4><i class="fa fa-cog fa-spin fa-lg fa-fw margin-bottom"></i> Loading Auctions...</h4>
		</div>
		<div ng-if="auctionResults&&!auctionResults.auctions.length&&!loading">
			<h1>No auctions match your search</h1>
		</div>
		<div ng-if="auctionResults.auctions.length">
			<div id="auctionNav" ng-if="auctionResults">
			<div>Showing auctions {{low+1}}-{{high}} of {{auctionResults.count}}
			<div>
			<div class="pagination" ng-click="firstPage()"><span class="glyphicon glyphicon-step-backward"></span></div>
			<div class="pagination" ng-click="backPage()"><span class="glyphicon glyphicon-chevron-left"></span></div>
			<div class="pagination" ng-repeat="page in backPages track by $index" ng-click="updatePage(page)"> {{page}} </div>
			<div class="pagination pagination-current"> {{currentPage}} </div>
			<div class="pagination" ng-repeat="page in nextPages" ng-click="updatePage(page)"> {{page}} </div>
			<div class="pagination" ng-click="nextPage()"><span class="glyphicon glyphicon-chevron-right"></span></div>
			<div class="pagination" ng-click="lastPage()"><span class="glyphicon glyphicon-step-forward"></span></div>
			</div>
			</div>
			</div>
			<div class="auctionResultTable table table-condensed">
				<div class="row auctionResultRow">
					<!-- <div class="auctionSort" data-sort="quantity">Quantity</div> -->
					<div class="col-xs-1 auctionIcons"></div>
					<div class="col-xs-6 auctionSort text-left" data-sort="name"><h4>Item</h4></div>
					<div class="col-xs-1 auctionSort text-center" data-sort="itemLevel"><h4>iLvl</h4></div>
					<!-- <div class="auctionSort">Owner</div> -->
					<div class="col-xs-2 auctionSort auctionMoney text-right" data-sort="bid"><h4>Bid Price</h4></div>
					<div class="col-xs-2 auctionSort auctionMoney text-right" data-sort="buyout"><h4>Buyout</h4></div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<hr>
					</div>
				</div>
				<auction-result ng-repeat="auction in auctionResults.auctions"></auction-result>
			</div>
		</div>
		</div>
		<sidebar>
		Traditional | Advanced
		<div id="itemFilterDiv">
		<select id="itemFilterQuality" class="itemFilter" multiple size='8' ng-model="qualities.values" ng-change="firstPage()">
			<option value="0" class="itemQuality0">Poor</option>
			<option value="1" class="itemQuality1">Common</option>
			<option value="2" class="itemQuality2">Uncommon</option>
			<option value="3" class="itemQuality3">Rare</option>
			<option value="4" class="itemQuality4">Epic</option>
			<option value="5" class="itemQuality5">Legendary</option>
			<option value="6" class="itemQuality6">Artifact</option>
			<option value="7" class="itemQuality7">Heirloom</option>
		</select>
		<button id="clearItemFilterQuality" ng-click="clearQualityFilter()">Clear</button> 
		<ul id="itemFiltersList" class="list-unstyled">
			<li ng-repeat="filter in filters track by $index">
				<button class="btn-danger" ng-click="removeFilter($index)">X</button>
				<select ng-model="filter.type">
					<option ng-repeat="option in validFilters" value="{{option}}">{{option}}</option>
				</select>
				<select ng-model="filter.comparator">
					<option>&gt;</option>
					<option>=</option>
					<option>&lt;</option>
				</select>
				<input type="number" ng-model="filter.value">
			</li>
		</ul>
		<button id="addItemFilter" ng-click="addFilter()">Add Item Filter</button>
		</div>
		</sidebar>
	</div>
</div>