<div class="row" id="content-column-wrapper" ng-controller="itemCtrl">
<div id="main-content">
<div>

<item-display item-id="{{id}}" modifiers="modifiers"></item-display>

</div>
</div>
<sidebar>
<h2>Sources</h2>
<h2>Uses</h2>
<div>
<!-- 	<h2>Auction House Data</h2>
	<label for="realmInput">Select Realm to get Auction House Data:</label>
	<auto-complete realm-input="realmInput" search="getAuctionDetails()"></auto-complete>
	<div ng-if="auctionLoading">Loading Data</div> -->
</div>
</sidebar>
</div>