<div ng-controller='validateCtrl'>
	<div ng-if="error">{{error}}</div>
	<div ng-if="!error">
		<h2>Success! </h2>
		<p>Your email has been successfully validated. So, what can you do now?</p>
		<p><b>Watchlists:</b> Can't find the item you're looking for on the auction house? Found it but at a price you can't afford? Set up a watchlist to notify you via email when the items you are looking for are listed at the price you want!</p>
		<p><b>Community:</b> DBOnyx is working to add more tools to create a community for gaming. Forums, comments, user profiles and more are on their way soon.</p>
	</div>
</div>