<div class="row" id="content-column-wrapper">
	<div id="main-content" class="container">
		<div ng-if="!character.loading">
			<h1>{{character.name}}</h1>
			<h3>&lt;<a href="/g/{{character.guildName}}/{{character.guildRealm}}">{{character.guildName}}</a>&gt;</h3>
			<h5>Level {{character.level}}</h5>
		</div>
		<div ng-if="character.loading">
			Loading Character...
		</div>
		<div class="row">
			<div class="col-xs-3 no-right-pad">
				<div ng-if="categories.length>0" class="achievementCategory highlight-hover"><h3>Summary</h3></div>
				<div ng-repeat="category in categories|orderBy:category.displayOrder">
					<div ng-click="selectCat(category.displayOrder)" class="achievementCategory highlight-hover" ng-class="{selectedAchievementCategory: category.displayOrder===cat}">
						<h3>{{category.name}}</h3>
					</div>
					<div ng-repeat="sub in category.subCategories|orderBy:sub.displayOrder" ng-click="selectSubCat(category.displayOrder, sub.displayOrder)" ng-if="category.expanded" class="achievementCategory highlight-hover" ng-class="{selectedAchievementCategory: activeSub(sub)}">
						--{{sub.name}}
					</div>
				</div>
			</div>
			<div class="col-xs-9 no-left-pad">
				<div ng-repeat='achievement in activeAchievements' ng-show="checkFaction(achievement) && checkCompleted(achievement) && showComplete" class="characterAchievement completeAchievement">
					<h3>{{achievement.title}} ({{achievement.points}}) </h3>
					{{achievement.description}}
				</div>
				<div ng-repeat='achievement in activeAchievements' ng-show="checkFaction(achievement) && !checkCompleted(achievement) && showIncomplete" class="characterAchievement incompleteAchievement">
					<h3>{{achievement.title}} ({{achievement.points}}) </h3>
					{{achievement.description}}
				</div>
			</div>
		</div>
	</div>
	<sidebar>
	<character-links></character-links>
	</sidebar>
</div>