<div ng-controller="characterMain">
<div class="row" id="content-column-wrapper">
<div id="main-content">
<div ng-if="!character.loading">
<h1>{{character.name}}</h1>
<h3>&lt;<a href="/g/{{character.guildName}}/{{character.guildRealm}}">{{character.guildName}}</a>&gt;</h3>
<h5>Level {{character.level}}</h5>
</div>
	<h1>Pets Owned:</h1>
	<div ng-repeat="pet in character.battlepets.collected">
		{{pet.stats.level}} - <a href="/battlepet/{{pet.details.speciesId}}" class="itemQuality{{pet.stats.petQualityId}}">{{pet.details.name}}</a>
	</div>
</div>
<sidebar>
	<character-links></character-links>
</sidebar>
</div>
</div>