<div ng-controller="characterProfessions">
<div class="row" id="content-column-wrapper">
<div id="main-content">
	<div ng-if="!character.loading">
		<h1>{{character.name}}</h1>
		<h3>&lt;{{character.guildName}}&gt;</h3>
		<h5>Level {{character.level}}</h5>
	</div>
	<div>
		<div ng-repeat="profession in character.professions.primary">
			<div ng-click="expandToggle($index)" class="characterProfessionBar">
				<strong>{{profession.name}}:</strong>
				{{profession.rank}}/{{profession.max}}
				Recipes: {{profession.recipes.length}}
			</div>
			<ul ng-if="expandRecipes[$index]">
				<li ng-repeat="recipe in profession.recipes">{{recipe.name}}</li>
			</ul>
		</div>
	</div>
	<div>
		<div ng-repeat="profession in character.professions.secondary">
			<div ng-click="expandToggle($index+2)" class="characterProfessionBar">
				<strong>{{profession.name}}:</strong>
				{{profession.rank}}/{{profession.max}}
				Recipes: {{profession.recipes.length}}
			</div>
			<ul ng-if="expandRecipes[$index+2]">
				<li ng-repeat="recipe in profession.recipes">{{recipe.name}}</li>
			</ul>
		</div>
	</div>
</div>
<sidebar>
	<character-links></character-links>
</sidebar>
</div>
</div>